.img-content {
    width: 765px;           /* tamanho de tablet, haverá uma quebra */
    height: 400px;
}

.text-content {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 795px){          /*qdo tela for < esse medida, atenderá às especificações dentro do {}*/
    .img-content{
        width: 500px;
    }

    .text-content{
        font-size: 16px;
    }
}

@media (max-width: 510px) {
    .img-content{
        width: 100%;            /*com medida não fixa, a imagem automaticamente se ajusta ao tamanho da tela*/
        height: auto;           /*não distorcer imagem*/
    }
}


/* arrumar estética do texto */
@media (max-width: 410px){
    .text-content{
        text-align: center;
    }
}